<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="/css/materialize.min.css">
	<link rel="stylesheet" href="/CSS/estilos.css">
	<link rel="shortcut icon" href="/ICONS/logo.png" type="image/x-icon">
	<title>Componente | DCPCEO</title>
</head>
<body>
	<header id="header" class="navbar">
		<nav class="fondo-principal">
			<div class="nav-wrapper row">
				<div class="col s2">
					<div class="container"><a href="#" class="left brand-logo">DCPCEO<i class="logo right"><img src="/ICONS/logo_large.png" class="responsive-img"></i></a></div>
				</div>
				<div class="col s10">
					<ul class="right hide-on-small-only">
						<li><a href="#">Opción</a></li>
						<li><a href="#">Opción</a></li>
						<li><a href="#">Opción</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</header>

	<main>
		<div class="row" id="main-row">
			<!-- Menú para dispositivos móviles -->
			<div class="col s12 hide-on-med-and-up">
				menú desplegable
			</div>			

			<!-- Drop down menu -->
			<ul class="dropdown-content excluir-lateral" id="dropdown1">
				<li><a href="#!">one</a></li>
				<li><a href="#!">two</a></li>
				<li class="divider"></li>
				<li><a href="#!">three</a></li>
			</ul>

			<!-- Menú para dispositivos medianos y grandes -->
			<div class="col m3 l2 show-on-med-and-up hide-on-small-only lateral">
				<ul>
					<li class="cabecera texto-secundario center-align"><h4>Menú</h4></li>
					<a class="dropdown-trigger" data-target="dropdown1"><li>
						Introduction<i class="logo right">arrow_drop_down</i>
					</li></a>
					<li class="divider"></li>
					<a href="#structure"><li>Structure</li></a>
					<li class="divider"></li>
					<a href="#initialization"><li>Intialization</li></a>
				</ul>
			</div>

			<!-- Sección principal de contenido -->
			<div class="col s12 m9 l10 principal">
				<div class="contenedor container">
					<div class="row mb0 pb0">
						<div class="col s12">
							<!-- Título -->
							<div class="col s12 pt0 mt0 pl0">
								<h3 class="pb0 mb0 left-align texto-primario">Componente <small>Información general.</small></h3>
							</div>
							<div class="migajas mt0 pt0">
								<ul class="mt0 pt0">
									<li>Inicio</li>
									<li class="flecha">&gt;</li>
									<a href="/Componentes"><li>Componentes</li></a>
									<li class="flecha">&gt;</li>
									<li class="activa">Nombre</li>
								</ul>
							</div>
						</div>
					</div>
					<!-- Detalles Generales de la Unidad -->
					<div class="row pt0 mt0 pb0 mb0">
						<!-- Izquierda-->
						<div class="col s12 l6 row pt0 mr0 mb0" id="columna-izquierda">
							<!-- Información Laboral -->
							<div class="col s12 mt0 pt0 justify-align">
								<h4 class="mt0 texto-primario">Información Laboral:</h4>
							</div>
							<!-- Personal Civil -->
							<div class="col s12 mt0 pt0 justify-align detalles">
								<h5 class="mt0 texto-primario">Personal Civil: </h5>
								<a class="texto tabulado texto-primario">Total: </a><a class="texto texto-secundario antinegrita">30 personas</a><br><br>
								<a class="texto texto-primario">Detalles: </a>
								<a class="boton-outline boton-confirmar btn-flat right">Administrar Clasificación</a><br><br>
								<table class="resaltable">
									<thead>
										<tr class="enfasis">
											<th class="center-align" style="width: 70%;">Tipo</th>
											<th class="divisor"></th>
											<th class="center-align">Cantidad</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>Empleado</td>
											<td class="divisor"></td>
											<td class="center-align">2</td>
										</tr>
										<tr>
											<td>Obrero</td>
											<td class="divisor"></td>
											<td class="center-align">13</td>
										</tr>
										<tr class="enfasis">
											<td>Resumen</td>
											<td class="divisor"></td>
											<td class="center-align">15</td>
										</tr>
									</tbody>
								</table><br>
							</div>
							<!-- Personal Militar -->
							<div class="col s12 mt0 pt0 justify-align detalles" style="border-bottom: white !important;">
								<h5 class="mt0 texto-primario">Personal Militar:</h5>
								<a class="texto tabulado texto-primario">Total: </a><a class="texto texto-secundario antinegrita">30 personas</a><br><br>
								<a class="texto texto-primario">Grados: </a>
								<a class="boton-outline boton-confirmar btn-flat right">Administrar Grados</a><br><br>
								<table class="resaltable">
									<thead>
										<tr class="enfasis">
											<th class="center-align" style="width: 70%;">Rango</th>
											<th class="divisor"></th>
											<th class="center-align">Cantidad</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>Alferez de Navío</td>
											<td class="divisor"></td>
											<td class="center-align">2</td>
										</tr>
										<tr>
											<td>Capitán de Corbeta</td>
											<td class="divisor"></td>
											<td class="center-align">13</td>
										</tr>
										<tr class="enfasis">
											<td>Resumen</td>
											<td class="divisor"></td>
											<td class="center-align">15</td>
										</tr>
									</tbody>
								</table><br>
							</div>
						</div>
						<!-- Derecha -->
						<div class="col s12 l6 row pt0 ml0" id="columna-derecha">
							<!-- Comandante de la unidad -->
							<div class="col s12 mt0 pt0 justify-align detalles">
								<h5 class="mt0 texto-primario">Comandante:</h5>
								<a class="texto texto-primario">Nombre: </a><a href="#" class="texto texto-secundario antinegrita">Fulanito Perengano</a><br>
								<a class="texto texto-primario">Grado: </a><a class="texto texto-secundario antinegrita">Capitán de Navío</a><br>
								<a class="texto texto-primario">Fecha de Toma del Cargo: </a><a class="texto texto-secundario antinegrita">15 Oct 1970</a><br>
								<a class="texto texto-primario">Tiempo en el Cargo: </a><a class="texto texto-secundario antinegrita">49 años, 17 días.</a><br>
							</div>
							<!-- Subcomandante de la unidad -->
							<div class="col s12 mt0 pt0 justify-align detalles" style="border-bottom: white !important;">
								<h5 class="mt0 texto-primario">Segundo Comandante:</h5>
								<a class="texto texto-primario">Nombre: </a><a href="#" class="texto texto-secundario antinegrita">Fulanito Perengano</a><br>
								<a class="texto texto-primario">Grado: </a><a class="texto texto-secundario antinegrita">Capitán de Navío</a><br>
								<a class="texto texto-primario">Fecha de Toma del Cargo: </a><a class="texto texto-secundario antinegrita">15 Oct 1970</a><br>
								<a class="texto texto-primario">Tiempo en el Cargo: </a><a class="texto texto-secundario antinegrita">49 años, 17 días.</a><br>
							</div>
						</div>
					</div>
					<!-- Detalles de Personal -->
					<div class="row pt0 mt0 pb0 mb0 ">
						<div class="col s12 pt0 justify-align borde-superior detalles">
							<h5 class="mt0 texto-primario">Información de Personal por Unidad:</h5>
							<table class="resaltable">
								<thead>
									<tr class="enfasis">
										<th class="center-align" rowspan="2">Unidad</th>
										<th class="divisor"></th>
										<th class="center-align" colspan="7">Personal</th>
									</tr>
									<tr class="enfasis">
										<th class="divisor"></th>
										<th class="center-align">Activo</th>
										<th class="divisor"></th>
										<th class="center-align">Permiso</th>
										<th class="divisor"></th>
										<th class="center-align">Reposo</th>
										<th class="divisor"></th>
										<th class="center-align">Total</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>REDI Los Llanos</td>
										<td class="divisor"></td>
										<td class="center-align">20</td>
										<td class="divisor"></td>
										<td class="center-align">5</td>
										<td class="divisor"></td>
										<td class="center-align">2</td>
										<td class="divisor"></td>
										<td class="center-align">27</td>
									</tr>
									<tr class="enfasis">
										<td>Resumen</td>
										<td class="divisor"></td>
										<td class="center-align">20</td>
										<td class="divisor"></td>
										<td class="center-align">5</td>
										<td class="divisor"></td>
										<td class="center-align">2</td>
										<td class="divisor"></td>
										<td class="center-align">27</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>


	<footer id="footer" class="page-footer fondo-secundario">
		<div class="footer-copyright">
			<div class="container center-align">
				© 2014 Copyright Text
			</div>
		</div>
	</footer>
	<!-- Inicio de los scripts. -->
	<script src="/js/jquery.min.js"></script>
	<script src="/js/materialize.min.js"></script>
	<script src="/JS/Main.js"></script>
	<script src="/JS/nuevaUnidad.js"></script>
	<script src="/JS/animacionesTablas.js"></script>
</body>
</html>