/* Fondos */
.fondo-principal {
	background-color: #283149 !important;
}

.fondo-secundario {
	background-color:  #404b69 !important;
}

.fondo-claro {
	background-color: #dbedf3 !important;
}

.fondo-alternativo {
	background-color: #00818a !important;
}

.fondo-exito {
	background-color: #4E9525!important;
}

.fondo-info {
	background-color: #3f8cff !important;
}

.fondo-advertencia {
	background-color: #e5c347 !important;
}

.fondo-peligro {
	background-color: #ea5b4b !important;
}

/* Tipografía */

.texto-secundario {
	color:  #404b69 !important;
}

.texto-primario {
	color: #283149 !important;
}

.texto-alternativo {
	color: #00818a;
}

.texto-claro {
	color: #dbedf3;
}

.texto-info {
	color: #3f8cff;
}

.texto {
	font-size: 20px !important;
}

.justify-align {
	text-align: justify;
}

.negrita {
	font-weight: 500;
}

.antinegrita {
	font-weight: 50;
}

.tabulado {
	margin-left: 4em;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
	font-size: 60%;
	color: #404b69;
}

/* Propiedades */

.mt0 { /* Margin-top */
	margin-top: 0px !important;
}

.mr0 {
	margin-right: 0px !important;
}

.mb0 {
	margin-bottom: 0px !important;
}

.ml0 {
	margin-left: 0px !important;
}

.m0 {
	margin: 0px;
}

.pt0 { /* Padding-top */
	padding-top: 0px !important;
}

.pr0 {
	padding-right: 0px !important;
}

.pb0 {
	padding-bottom: 0px !important;
}

.pl0 {
	padding-left: 0px !important;
}

.p0 {
	padding: 0px !important;
}

.borde-derecho {
	border-right: solid 3px #00818a;
}

.borde-izquierdo {
	border-left: solid 3px #00818a;
}

.borde-superior {
	border-top: solid 2px #00818a;
}

.borde-inferior {
	border-bottom: solid 1px #00818a;
}

.bordes {
	border: solid 1px #00818a;
}

/* Componentes */
#main-row {
	margin-bottom: 0px !important;
}

.contenedor {
	width: 90% !important;
}

.principal {
	margin-top: 25px;
}

.imagen-grande {
	width: 100% !important;
	border: solid 1px #ddd;
}

.logo {
	display: inline-block;
	padding-top: .4em;
}

.boton-cancelar:hover{
	background-color: #ea5b4b !important;
	color: #222 !important;
}

.boton-confirmar:not(.boton-outline) {
	background-color: #00818a ;
	color: #dbedf3 ;
	transition: background-color .25s ease-in-out;
}

.boton-confirmar:hover {
	background-color: #00474c ;
}

.boton-outline.boton-info.btn-flat {
	border: solid 1px #3f8cff;
	color: #3f8cff;
	transition: 
		border .3s ease-in-out,
		background-color .3s ease-in-out,
		color .3s ease-in-out;
}

.boton-outline.boton-info.btn-flat:hover {
	border: solid 1px white;
	background-color: #3f8cff;
	color: white;
}

.boton-outline.boton-confirmar.btn-flat {
	border: solid 1px #00818a;
	color: #00818a;
	transition: 
		border .3s ease-in-out,
		background-color .3s ease-in-out,
		color .3s ease-in-out;
}

.boton-outline.boton-confirmar.btn-flat:hover {
	border: solid 1px white;
	background-color: #00818a;
	color: white;
}

.imagen-editar:hover {
	filter: drop-shadow(0 0 2px #3f8cff);
	cursor: pointer;
}

.imagen-eliminar:hover {
	filter: drop-shadow(0 0 2px #ea5b4b);
	cursor: pointer;
}

.fila-eliminar {
	line-height: 1px !important;
	padding: 0px;
}

.fila-eliminar td {
	padding-top: 0px;
	padding-bottom: 0px;
}

nav ul > li.active {
	background-color: #404b69;
}

	/* Preview Image */
	.preview {
		height: 200px; 
		width: 200px; 
		background-color: #CCC;
		align-self: center;
	}


	/* Menú lateral */

	.lateral {
		width: 100%; 
		border-right: solid 2px #00818a;
		background-color: #dbedf3;
	}

	.lateral > ul > a:not(.activa) > li:not(.divider){
		padding: 5%; 
		border-left: solid 5px #dbedf3; 
		border-radius: 0 0 0 0; 
		color: #283149;
		transition: 
			border-left .10s ease-in-out,
			border-radius .20s ease-in-out,
			background-color .10s ease-in-out;
	}

	.lateral > ul > a:not(.activa) > li:hover:not(.divider) {
		border-left: solid 5px #00818a;
		background-color: #bce4f2;
		border-radius: 30px 0 0 30px; 
	}

	.lateral > ul > a.activa > li {
		cursor: context-menu;
		color: #283149;
		background-color: #dbedf3;
		padding: 5%; 
		border-left: solid 5px #00818a !important; 
	}

	.lateral > ul > a.activa > li:hover {
		padding: 5%; 
		border-left: solid 5px #00818a !important; 
	}

	/* Migajas */

	.migajas > ul  li {
		display: inline-block !important;
		padding: 5px;
		color: #00818a;
		cursor: pointer;
	}

	.migajas > ul > li.flecha {
		color: #AAA;
		cursor: context-menu;
	}

	.migajas > ul > li.activa {
		color: #283149;
		cursor: context-menu;
	}

	/* Tarjetas */

	.tarjeta {
		border: solid 1px white;
		background-color: #404b69;
		color: white;
		transition: background-color 0.45s ease-in-out,
			boder 0.45s ease-in-out, 
			color 0.45s ease-in-out;
	}

	.tarjeta:hover{
		color: #283149;
		background-color: white;
		border: solid 1px #283149;
	}

	/* Tablas */
	table > thead th.divisor, table > tbody td.divisor {
		width: 1px !important;
		border-left: solid 1px #CCC;
		border-radius: 0;
	}

	table.resaltable > tbody tr:hover {
		background-color: #dbedf3;
		cursor: pointer;
	}

	table > tbody > tr:last-child {
		border-bottom: solid 1px white !important;
	}

	table > tbody > tr.enfasis {
		background-color: #efefef;
		color: #00818a;
	}

	table > thead > tr.enfasis {
		background-color: #dbedf3;
	}

	/* Detalles */
	.detalles {
		border-bottom: 2px solid #00818a;
		width: 100%;
		margin-left: auto;
		margin-top: 20px;
		left: auto;
		right: auto;
		padding: 20px !important;
	}